azure-common
msrest
cryptography
ansible >= 2.9
podman
boto3
botocore
pysnow
requests
netaddr
wheel
Babel
cachetools
certifi
cffi
chardet
click
configobj
decorator
durationpy
google-auth
idna
importlib-metadata
iniparse
Jinja2
jmespath
jsonpatch
jsonpointer
jsonschema
kubernetes
kubernetes-validate >= 1.32.0
lxml
MarkupSafe
netifaces
networkx
numpy
oauthlib
pep517
pexpect
pip
pip-tools
ply
prettytable
ptyprocess
pyasn1
pyasn1-modules
pycparser
pyinotify
PyJWT
pyparsing
pyserial
PySocks
python-dateutil
pytz
pyudev
PyYAML
requests
requests-oauthlib
rpm
rsa
s3transfer
scipy
selinux
setools
setuptools
six
tomli
typing_extensions >= 4.4.0
urllib3
varlink
websocket-client
zipp
